<footer id="site-footer" class="site-footer bg-gradient footer-top-bottom">
    <div class="footer-shape-top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="footer-shape-fill" d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
        </svg>
    </div>
    <div class="container">
        <div class="footer-logo text-center">
            <img src="~/Content/images/company/lody-baby-kurumsal-logo.png" alt="lody-baby-kurumsal-logo.png" class="attachment-large size-large">
        </div>
        <div class="flex-col">
            <div class="ft-col-contact text-center">
                <div class="contact-info box-style2 text-light">
                    <div class="box-icon"><i class="flaticon-world"></i></div>
                    <p>Osb Mah. 2.Bulvar No:31 Artuklu-Mardin</p>
                    <h6>Adresimiz</h6>
                </div>
            </div>
            <div class="ft-col-contact text-center border-left border-right">
                <div class="contact-info box-style2 text-light">
                    <div class="box-icon"><i class="flaticon-note"></i></div>
                    <p><a href="mailto:info@lodybaby.com">info@lodybaby.com</a></p>
                    <h6>Email Adresimiz</h6>
                </div>
            </div>
            <div class="ft-col-contact text-center">
                <div class="contact-info box-style2 text-light">
                    <div class="box-icon"><i class="flaticon-viber"></i></div>
                    <p><a href="tel:0482 502 11 00">(0482) 502 11 00</a></p>
                    <h6>Telefon Numaramız</h6>
                </div>
            </div>
        </div>
        <div class="footer-menu">
            <ul id="menu-footer-menu" class="menu">
                <li><a href="/" aria-current="page">Anasayfa </a></li>
                <li><a aria-current="page">|</a></li>
                <li><a href="@Url.Action("About","Corporate")">Hakkımızda</a></li>
                <li><a aria-current="page">|</a></li>
                <li><a href="@Url.Action("Index","Gallery")">Galeri</a></li>
                <li><a aria-current="page">|</a></li>
                <li><a href="faqs.html">Online Market</a></li>
                <li><a aria-current="page">|</a></li>
                <li><a href="@Url.Action("Index","Contact")">İletişim</a></li>
            </ul>
        </div>
        <p class="copyright text-center">Copyright © 2021 | Lody Baby | Tüm Hakları Saklıdır.</p>
        <div class="footer-social text-center">
            <a class="footer-social-icon twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="footer-social-icon facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="footer-social-icon linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="footer-social-icon instagram" href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>

