@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="site-content">
    <div class="page-header dtable text-center" style="background-image: url(/Content/images/bg-page-header.jpg);">
        <div class="dcell">
            <div class="container">
                <h1 class="page-title">Belgelerimiz</h1>
                <ul id="breadcrumbs" class="breadcrumbs">
                    <li><a href="/">Anasayfa</a></li>
                    <li class="active">Belgelerimiz</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="p-t110 p-b90">
        <div class="container">
            <div class="row">
                <div class="col-md-12 m-b20">
                    <div class="ot-heading text-center">
                        <h6><span>Tüm Belgelerimiz</span></h6>
                    </div>
                </div>
            </div>
            <div class="project-filter-wrapper">            
                <div class="projects-grid isotope" style="position: relative; overflow: hidden; height: 1600px;">
                    <div class="project-item media optimization  isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-7.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    @*<h5><a href="portfolio-single.html">New Soft for Watch</a></h5>*@
                                    <p class="portfolio-cates"><a href="#">ISO 9001</a><span>/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item development  isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(400px, 0px, 0px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-8.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <p class="portfolio-cates"><a href="#">ISO 14001</a><span>/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item marketing optimization isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(800px, 0px, 0px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-9.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <p class="portfolio-cates"><a href="#">ISO 18001</a><span>/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item media optimization isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 400px, 0px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-10.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <p class="portfolio-cates"><a href="#">ISO 2201</a><span>/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item development isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(800px, 400px, 0px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-12.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    @*<h5><a href="portfolio-single.html">App for Health</a></h5>*@
                                    <p class="portfolio-cates"><a href="#">ISO 22716</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

