
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="site-content">
    <div class="page-header dtable text-center" style="background-image: url(/Content/images/bg-page-header.jpg);">
        <div class="dcell">
            <div class="container">
                <h1 class="page-title">Bilgi Güvenliği Politikamız</h1>
                <ul id="breadcrumbs" class="breadcrumbs">
                    <li><a href="/">Anasayfa</a></li>
                    <li class="active">Bilgi Güvenliği Politikası</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="p-tb90">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    @*<h3 class="m-b30">Dropcaps</h3>*@
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 sm-m-b40 xs-m-b40">
                    <img src="~/Content/images/company/bilgi-guvenligi-politikasi.jpg" alt="bilgi-guvenligi-politikasi" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 sm-m-b40 xs-m-b40">
                    <div class="col-md-12 col-sm-12 col-xs-12 sm-m-b40">
                        <ul class="icon-list-items">
                            <li class="icon-list-item">
                                <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                                <span class="icon-list-text">Kurumsal bilgileri, personel özlük bilgilerini, müşteri verilerini (finansal veriler, kişi bilgileri...) değerli ve kritik kabul etmekte ve bilgi güvenliği ile ilgili yasaların gerektirdiği zorunlulukları yerine getirmeyi,</span>
                            </li>
                            <li class="icon-list-item">
                                <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                                <span class="icon-list-text">Kurumsal faaliyetlerimizin gerçekleşmesinde kullanılan bilişim hizmetlerinin kesintisiz devam etmesi, kişisel ve özel verilere erişimin sadece yetkili kişilerce erişilebilmesi amacıyla gerekli altyapıyı sağlamayı ve gerekli güvenlik tedbirlerini almayı,</span>
                            </li>
                            <li class="icon-list-item">
                                <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                                <span class="icon-list-text">Bilgi güvenliği yönetim sistemimizin ISO/IEC 27001 standardının gereklerini yerine getirecek şekilde dokümante etmeyi ve sürekli iyileştirmeyi,</span>
                            </li>
                            <li class="icon-list-item">
                                <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                                <span class="icon-list-text">Oluşturulan Bilgi Güvenliği Politikası ilgili tarafların erişimine uygun olarak açık olması sağlanmıştır.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

  
</div>

