
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="site-content">
    <div class="page-header dtable text-center" style="background-image: url(/Content/images/bg-page-header.jpg);">
        <div class="dcell">
            <div class="container">
                <h1 class="page-title">Yönetim Felsefesimiz</h1>
                <ul id="breadcrumbs" class="breadcrumbs">
                    <li><a href="/">Anasayfa</a></li>
                    <li class="active">Yönetim Felsefesi</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="p-t70">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 sm-m-b40">
                    <ul class="icon-list-items">
                        <li class="icon-list-item">
                            <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                            <span class="icon-list-text">İnsana Yatırım</span>
                        </li>
                        <li class="icon-list-item">
                            <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                            <span class="icon-list-text">Fark Yaratmak</span>
                        </li>
                        <li class="icon-list-item">
                            <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                            <span class="icon-list-text">Teknolojiye Yatırım</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 sm-m-b40">
                    <ul class="icon-list-items">
                        <li class="icon-list-item">
                            <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                            <span class="icon-list-text">Eşitlik ve İş Disiplini</span>
                        </li>
                        <li class="icon-list-item">
                            <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                            <span class="icon-list-text">Ortak Bağlılık</span>
                        </li>
                        <li class="icon-list-item">
                            <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                            <span class="icon-list-text">Birlikte Kazanç</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 sm-m-b40">
                    <ul class="icon-list-items">
                        <li class="icon-list-item">
                            <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                            <span class="icon-list-text">Demokratik-Katılımcı yönetim</span>
                        </li>
                        <li class="icon-list-item">
                            <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                            <span class="icon-list-text">Benchmarking</span>
                        </li>
                        <li class="icon-list-item">
                            <span class="icon-list-icon"><i class="fa fa-dot-circle"></i></span>
                            <span class="icon-list-text">
                                Takım Ruhu
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="p-t50">
        <div class="container">
            <img src="~/Content/images/company/management.jpg" alt="yönetim felsefesi"/>
        </div>
    </section>
</div>

