
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="site-content">
    <div class="page-header dtable text-center" style="background-image: url(/Content/images/bg-page-header.jpg);">
        <div class="dcell">
            <div class="container">
                <h1 class="page-title">Kalite Politikamız</h1>
                <ul id="breadcrumbs" class="breadcrumbs">
                    <li><a href="/">Anasayfa</a></li>
                    <li class="active">Kalite politikası</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="p-tb90">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    @*<h3 class="m-b30">Dropcaps</h3>*@
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 sm-m-b40 xs-m-b40">
                    <img src="~/Content/images/company/kalite-politikamiz.jpg" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 sm-m-b40 xs-m-b40">
                    <p>
                        <span class="drop-cap drop-cap-bg-second"><span class="drop-cap-letter">L</span></span>ody Sağlık, tüketici beklentileri doğrultusunda TS EN ISO 9001 - 18001 - OHSAS - GMP - AET yönetim sistemleri standartlarını benimseyerek, çevre bilinciyle kaliteli ve hijyenik ortamda ürettiği ürünleri sunmayı hedeflemektedir. 
                    </p>
                    <p>
                        <span class="drop-cap drop-cap-bg-third"><span class="drop-cap-letter">Y</span></span>
                        enilikçi ve sürekli bir gelişim modelini benimseyen Lody Sağlık, insan kaynağına yaptığı yatırımlarla gelişen teknolojileri yakından takip etmekte ve kalite bilinci ile sürekli gelişimini sağlamaktadır.
                    </p>
                    <p>
                        <span class="drop-cap drop-cap-bg-primary"><span class="drop-cap-letter">K</span></span>alite politikamız, hammadde kaynağından başlayarak, tedarikçilerimizle ortak çalışmalar yaparak, sürdürülebilir toplam kalite hedefi ile her üretim noktasında uygulanabilirliği sağlamaktır.
                    </p> 
                </div>
            </div>
        </div>
    </section>
</div>
