@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="site-content">
    <div class="page-header dtable text-center" style="background-image: url(/Content/images/bg-page-header.jpg);">
        <div class="dcell">
            <div class="container">
                <h1 class="page-title">Misyonumuz | Vizyonumuz</h1>
                <ul id="breadcrumbs" class="breadcrumbs">
                    <li><a href="/">Anasayfa</a></li>
                    <li class="active">Misyon-Vizyon</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="p-tb90">
        <div class="container">
            <div class="flex-row align-self-center p-b50">
                <div class="col-md-12 col-xs-12">
                    <h3 class="title-default m-b50">Misyon</h3>
                </div>
                <div class="col-md-12 col-xs-12 sm-m-b40">
                    <div class="icon-box s1">
                        <div class="bg-s3"></div>
                        <div class="bg-before"></div>
                        <div class="bg-after"></div>
                        <div class="icon-main">
                            <span class="flaticon-pie-chart"></span>
                        </div>
                        <div class="content-box">
                            <p>  Lody Sağlık, insan kaynakları ve Ar-Ge yatırımları ile sağlıklı bir büyüme sağlayarak, uluslararası pazarda markalarının tanınmasını artırarak ve farklı yatırımlarla şirketlerinin üretim ve ürün kalitesini sürekli arttırarak ülke ekonomisine ve tanıtımına katkıda bulunmaya devam edecektir.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-row align-self-center p-b50">
                <div class="col-md-12 col-xs-12">
                    <h3 class="title-default m-b50">Vizyon</h3>
                </div>
                <div class="col-md-12 col-xs-12 sm-m-b40">
                    <div class="icon-box s1">
                        <div class="bg-s3"></div>
                        <div class="bg-before"></div>
                        <div class="bg-after"></div>
                        <div class="icon-main">
                            <span class="flaticon-report"></span>
                        </div>
                        <div class="content-box">
                            <p>  Lody Sağlık, insan kaynakları ve Ar-Ge yatırımları ile sağlıklı bir büyüme sağlayarak, uluslararası pazarda markalarının tanınmasını artırarak ve farklı yatırımlarla şirketlerinin üretim ve ürün kalitesini sürekli arttırarak ülke ekonomisine ve tanıtımına katkıda bulunmaya devam edecektir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
