<a href="javaScript:void();" class="back-to-top" style="display: none;"><i class="fa fa-angle-double-up"></i> </a>
<footer class="footer">
    <div class="container">
        <div class="text-center">
            Copyright © 2019 Admin
        </div>
    </div>
</footer>
