
<section class="home5-about particles-js" data-color="#fe4c1c,#00c3ff,#0160e7" data-id="i5-1">
    <div class="container">
        <div class="flex-row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 align-self-center">
                <div class="home5-about-block">
                    <div class="ot-heading left-align">
                        <h6><span>Hakkımızda</span></h6>
                        <h2 class="main-heading">Grow Your Business <br> with Our SEO Agency</h2>
                    </div>
                    <p class="m-b50">Our approach to SEO is uniquely built around what we know works…and what we know doesn’t work. With over 200 verified factors in play within Google’s search algorithm, most agencies will rely on old tactics that no longer work, or guess with new tactics that they hope will stick.</p>
                    <div class="flex-row justify-content-center">
                        <div class="col-md-4 col-sm-4 col-xs-6 xs-text-center md-m-b40">
                            <div class="ot-counter">
                                <div>
                                    <span class="num" data-to="330" data-time="2000">330</span>
                                    <span>+</span>
                                </div>
                                <h6>Müşteri Sayımız</h6>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 xs-text-center md-m-b40 xs-m-b40">
                            <div class="ot-counter">
                                <div>
                                    <span class="num" data-to="850" data-time="2000">850</span>
                                    <span>+</span>
                                </div>
                                <h6>Proje Sayımız</h6>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6 xs-text-center md-m-b40">
                            <div class="ot-counter">
                                <div>
                                    <span class="num" data-to="25" data-time="2000">25</span>
                                    <span>+</span>
                                </div>
                                <h6>Çalışan Sayımız</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="flex-row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="icon-box s3 cyan m-t30 text-center">
                            <div class="bg-s3"></div>
                            <div class="bg-before"></div>
                            <div class="bg-after"></div>
                            <div class="icon-main"><span class="flaticon-system"></span></div>
                            <div class="content-box">
                                <h5>Tüm Yönüyle Kurumsallık</h5>
                                <p>Every business and industry requires an approach.</p>
                            </div>
                        </div>
                        <div class="icon-box s3 m-t30 red text-center">
                            <div class="bg-s3"></div>
                            <div class="bg-before"></div>
                            <div class="bg-after"></div>
                            <div class="icon-main"><span class="flaticon-report"></span></div>
                            <div class="content-box">
                                <h5>Önemli Roller</h5>
                                <p>To generate highly focused leads ready to purchases.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 xs-m-t30">
                        <div class="icon-box s3 blue text-center">
                            <div class="bg-s3"></div>
                            <div class="bg-before"></div>
                            <div class="bg-after"></div>
                            <div class="icon-main"><span class="flaticon-internet"></span></div>
                            <div class="content-box">
                                <h5>Global Yaklaşım</h5>
                                <p>You make sure you know how campaign is performing.</p>
                            </div>
                        </div>
                        <div class="icon-box s3 orange m-t30 text-center">
                            <div class="bg-s3"></div>
                            <div class="bg-before"></div>
                            <div class="bg-after"></div>
                            <div class="icon-main"><span class="flaticon-startup"></span></div>
                            <div class="content-box">
                                <h5>İyi İş Sonuçları</h5>
                                <p>We have seen great successes with everyone companies.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="onum-particles" id="particles-i5-1"><canvas class="particles-js-canvas-el" width="1903" height="936" style="width: 100%; height: 100%;"></canvas></div>
</section>
