<section class="home5-projects">
    <div class="container">
        <div class="flex-row p-b20">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="ot-heading left-align">
                    <h6><span>Gallerimiz</span></h6>
                    <h2 class="main-heading">Son Çekilen Fotoğraflarımız</h2>
                </div>
            </div>          
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12 p-lr0 sm-p-lr15">
                <div class="project-filter-wrapper">
                    <div class="container xs-p0">
                        <ul class="project_filters project_filters-h5 xs-p0">
                            <li><a href="#" data-filter="*" class="selected">Tümü</a></li>
                            <li><a href="#" data-filter=".development" class="">Ofis</a></li>
                            <li><a href="#" data-filter=".marketing" class="">Marketler</a></li>
                            <li><a href="#" data-filter=".media" class="">Medya</a></li>
                            <li><a href="#" data-filter=".optimization" class="">Depo</a></li>
                        </ul>
                    </div>
                    <div class="projects-grid pf_3_cols-s2 isotope" style="position: relative; overflow: hidden; height: 937px;">
                        <div class="project-item big-style media optimization  isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                            <div class="projects-box">
                                <div class="projects-thumbnail">
                                    <a href="portfolio-single.html">
                                        <img src="/Content/images/projects/project-style2-1.jpg" class="" alt="">
                                    </a>
                                </div>
                                <div class="portfolio-info s2">
                                    <div class="portfolio-info-inner">
                                        <h5><a href="portfolio-single.html">New Soft for Watch</a></h5>
                                        <p class="portfolio-cates"><a href="#">Media</a><span>/</span><a href="#">Optimization</a><span>/</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-item development isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(937px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                            <div class="projects-box">
                                <div class="projects-thumbnail">
                                    <a href="portfolio-single.html">
                                        <img src="/Content/images/projects/grid-2.jpg" class="" alt="">
                                    </a>
                                </div>
                                <div class="portfolio-info s2">
                                    <div class="portfolio-info-inner">
                                        <h5><a href="portfolio-single.html">Cereal Project</a></h5>
                                        <p class="portfolio-cates"><a href="#">Development</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-item marketing media isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(1405px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                            <div class="projects-box">
                                <div class="projects-thumbnail">
                                    <a href="portfolio-single.html">
                                        <img src="/Content/images/projects/grid-4.jpg" class="" alt="">
                                    </a>
                                </div>
                                <div class="portfolio-info s2">
                                    <div class="portfolio-info-inner">
                                        <h5><a href="portfolio-single.html">Your New Reality</a></h5>
                                        <p class="portfolio-cates"><a href="#">Marketing</a><span>/</span><a href="#">Media</a><span>/</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item development isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 468px, 0px) scale3d(1, 1, 1); opacity: 1;">
                            <div class="projects-box">
                                <div class="projects-thumbnail">
                                    <a href="portfolio-single.html">
                                        <img src="/Content/images/projects/grid-12.jpg" class="" alt="">
                                    </a>
                                </div>
                                <div class="portfolio-info s2">
                                    <div class="portfolio-info-inner">
                                        <h5><a href="portfolio-single.html">App for Health</a></h5>
                                        <p class="portfolio-cates"><a href="#">Development</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item optimization isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(468px, 468px, 0px) scale3d(1, 1, 1); opacity: 1;">
                            <div class="projects-box">
                                <div class="projects-thumbnail">
                                    <a href="portfolio-single.html">
                                        <img src="/Content/images/projects/grid-11.jpg" class="" alt="">
                                    </a>
                                </div>
                                <div class="portfolio-info s2">
                                    <div class="portfolio-info-inner">
                                        <h5><a href="portfolio-single.html">Responsive Design</a></h5>
                                        <p class="portfolio-cates"><a href="#">Optimization</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item big-style development isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(936px, 468px, 0px) scale3d(1, 1, 1); opacity: 1;">
                            <div class="projects-box">
                                <div class="projects-thumbnail">
                                    <a href="portfolio-single.html">
                                        <img src="/Content/images/projects/project-style2-2.jpg" class="" alt="">
                                    </a>
                                </div>
                                <div class="portfolio-info s2">
                                    <div class="portfolio-info-inner">
                                        <h5><a href="portfolio-single.html">App for Health</a></h5>
                                        <p class="portfolio-cates"><a href="#">Development</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

