<section class="home5-results particles-js" data-color="#fe4c1c,#00c3ff,#0160e7" data-id="i5-3">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="flex-row">
            <div class="home5-results-block col-md-6 col-sm-12 col-xs-12 sm-m-b40 align-self-center">
                <div class="ot-heading left-align">
                    <h6><span>İş Sonuçlarımız</span></h6>
                    <h2 class="main-heading">İş Sonuçlarımız Hakkında</h2>
                </div>
                <div class="ot-tabs">
                    <ul class="tabs-heading unstyle">
                        <li class="tab-link octf-btn current" data-tab="tab-1454">Entegrasyonlar</li>
                        <li class="tab-link octf-btn" data-tab="tab-2454">Geliştirmeler</li>
                    </ul>
                    <div id="tab-1454" class="tab-content current">
                        <p>We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers, and growing overall sales. Give us a call.</p>
                        <ul class="has-icon unstyle">
                            <li><i class="flaticon-check"></i> We provide a revolutionary level of transparency into our campaigns - from backlink acquisition.</li>
                            <li><i class="flaticon-check"></i> Want to test our process before ramping up the budget? We'll prove our model and you'll see revenue soar.</li>
                        </ul>
                    </div>
                    <div id="tab-2454" class="tab-content">
                        <p>We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers, and growing overall sales. Give us a call.</p>
                        <ul class="has-icon unstyle">
                            <li><i class="flaticon-check"></i> Want to test our process before ramping up the budget? We'll prove our model and you'll see revenue soar.</li>
                            <li><i class="flaticon-check"></i> We provide a revolutionary level of transparency into our campaigns - from backlink acquisition.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="home5-results-img col-md-6 col-sm-12 col-xs-12 text-center align-self-center">
                <img src="/Content/images/image3-home5.png" alt="">
            </div>
        </div>
    </div>
    <div class="onum-particles" id="particles-i5-3"><canvas class="particles-js-canvas-el" width="1903" height="819" style="width: 100%; height: 100%;"></canvas></div>
</section>

