<section class="seo-about p-b30">
    <div class="shape shape-bottom" data-negative="false">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="shape-fill" d="M1000,4.3V0H0v4.3C0.9,23.1,126.7,99.2,500,100S1000,22.7,1000,4.3z"></path>
        </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="top-up">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-box s3 box-hover-gradient text-center">
                        <div class="bg-s3"></div>
                        <div class="bg-before" style="background: url('/Content/images/bg1-box.png') top left no-repeat #fff;"></div>
                        <div class="bg-after" style="background: url('/Content/images/bg2-box.png') bottom right no-repeat #fff;"></div>
                        <div class="icon-main">
                            <span class="flaticon-startup"></span>
                        </div>
                        <div class="content-box">
                            <h5>İyi İş Sonuçları</h5>
                            <p>We have seen great successes with everyone companies.</p>
                        </div>
                        <div class="action-box">
                            <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Daha Fazla<i class="flaticon-right-arrow-1"></i></a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 m-t50">
                    <div class="icon-box s3 box-hover-gradient text-center">
                        <div class="bg-s3"></div>
                        <div class="bg-before" style="background: url('/Content/images/bg1-box2.png') top left no-repeat #fff;"></div>
                        <div class="bg-after" style="background: url('/Content/images/bg2-box2.png') bottom right no-repeat #fff;"></div>
                        <div class="icon-main">
                            <span class="flaticon-system"></span>
                        </div>
                        <div class="content-box">
                            <h5>Tüm Yönüyle Kurumsallık</h5>
                            <p>Every business and industry requires an approach.</p>
                        </div>
                        <div class="action-box">
                            <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Daha Fazla<i class="flaticon-right-arrow-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 xs-m-t50">
                    <div class="icon-box s3 box-hover-gradient text-center">
                        <div class="bg-s3"></div>
                        <div class="bg-before" style="background: url('/Content/images/bg1-box3.png') top right no-repeat #fff;"></div>
                        <div class="bg-after" style="background: url('/Content/images/bg2-box3.png') bottom left no-repeat #fff;"></div>
                        <div class="icon-main">
                            <span class="flaticon-internet"></span>
                        </div>
                        <div class="content-box">
                            <h5>Global Yaklaşım</h5>
                            <p>You make sure you know how campaign is performing.</p>
                        </div>
                        <div class="action-box">
                            <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Daha Fazla<i class="flaticon-right-arrow-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 m-t50">
                    <div class="icon-box s3 box-hover-gradient text-center">
                        <div class="bg-s3"></div>
                        <div class="bg-before" style="background: url('/Content/images/bg1-box2.png') top left no-repeat #fff;"></div>
                        <div class="bg-after"></div>
                        <div class="icon-main">
                            <span class="flaticon-report"></span>
                        </div>
                        <div class="content-box">
                            <h5>Önemli Roller</h5>
                            <p>To generate highly focused leads ready to purchases.</p>
                        </div>
                        <div class="action-box">
                            <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Daha Fazla<i class="flaticon-right-arrow-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

