
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="site-content">
    <div class="page-header dtable text-center" style="background-image: url(/Content/images/bg-page-header.jpg);">
        <div class="dcell">
            <div class="container">
                <h1 class="page-title">Ürünlerimiz</h1>
                <ul id="breadcrumbs" class="breadcrumbs">
                    <li><a href="/">Anasayfa</a></li>
                    <li class="active">Ürünler</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="p-t110 p-b90">
        <div class="container">
            <div class="row">
                <div class="col-md-12 m-b20">
                    <div class="ot-heading text-center">
                        <h6><span>Tüm Ürünler</span></h6>
                    </div>
                </div>
            </div>
            <div class="project-filter-wrapper">
                <div class="container">
                    <ul class="project_filters">
                        <li><a href="#" data-filter="*" class="selected">Tümü</a></li>
                        <li><a href="#" data-filter=".mini">Lody Baby Mini</a></li>
                        <li><a href="#" data-filter=".midi">Lody Baby Midi</a></li>
                        <li><a href="#" data-filter=".maxi">Lody Baby Maxi</a></li>
                        <li><a href="#" data-filter=".junior">Lody Baby Junior</a></li>
                    </ul>
                </div>
                <div class="projects-grid isotope" style="position: relative; overflow: hidden; height: 1600px;">
                    <div class="project-item maxi junior  isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-7.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <h5><a href="portfolio-single.html">New Soft for Watch</a></h5>
                                    <p class="portfolio-cates"><a href="#">maxi</a><span>/</span><a href="#">junior</a><span>/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item mini  isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(400px, 0px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-8.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <h5><a href="portfolio-single.html">UX Design for Tubus</a></h5>
                                    <p class="portfolio-cates"><a href="#">mini</a><span>/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-item midi junior isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(800px, 0px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-9.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <h5><a href="portfolio-single.html">Analysis of Security</a></h5>
                                    <p class="portfolio-cates"><a href="#">midi</a><span>/</span><a href="#">junior</a><span>/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item maxi junior isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 400px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-10.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <h5><a href="portfolio-single.html">SMM Project</a></h5>
                                    <p class="portfolio-cates"><a href="#">maxi</a><span>/</span><a href="#">junior</a><span>/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item junior isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(400px, 400px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-11.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <h5><a href="portfolio-single.html">Responsive Design</a></h5>
                                    <p class="portfolio-cates"><a href="#">junior</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item mini isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(800px, 400px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-12.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <h5><a href="portfolio-single.html">App for Health</a></h5>
                                    <p class="portfolio-cates"><a href="#">mini</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item mini maxi isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 800px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-6.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <h5><a href="portfolio-single.html">Basics Project</a></h5>
                                    <p class="portfolio-cates"><a href="#">mini</a><span>/</span><a href="#">maxi</a><span>/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item midi maxi isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(400px, 800px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-5.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <h5><a href="portfolio-single.html">Social maxi App</a></h5>
                                    <p class="portfolio-cates"><a href="#">midi</a><span>/</span><a href="#">maxi</a><span>/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item midi maxi isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(800px, 800px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-4.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <h5><a href="portfolio-single.html">Your New Reality</a></h5>
                                    <p class="portfolio-cates"><a href="#">midi</a><span>/</span><a href="#">maxi</a><span>/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item midi isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 1200px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-3.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <h5><a href="portfolio-single.html">Immersive Experience</a></h5>
                                    <p class="portfolio-cates"><a href="#">midi</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item mini isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(400px, 1200px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-2.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <h5><a href="portfolio-single.html">Cereal Project</a></h5>
                                    <p class="portfolio-cates"><a href="#">mini</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item midi junior isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(800px, 1200px);">
                        <div class="projects-box">
                            <div class="projects-thumbnail">
                                <a href="portfolio-single.html">
                                    <img src="/Content/images/projects/grid-1.jpg" class="" alt="">
                                </a>
                            </div>
                            <div class="portfolio-info s1">
                                <div class="portfolio-info-inner">
                                    <h5><a href="portfolio-single.html">Crypto App Project</a></h5>
                                    <p class="portfolio-cates"><a href="#">midi</a><span>/</span><a href="#">junior</a><span>/</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
