
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="site-content">
    <div class="page-header dtable text-center" style="background-image: url(/Content/images/bg-page-header.jpg);">
        <div class="dcell">
            <div class="container">
                <h1 class="page-title">Blog Yazılarımız</h1>
                <ul id="breadcrumbs" class="breadcrumbs">
                    <li><a href="/">Anasayfa</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="p-t90 p-b90 blog-grid-content">
        <div class="container">
            <div class="row">
                <div class="content-area col-md-12 col-sm-12 col-xs-12">
                    <div class="blog-grid pf_3_cols isotope" style="position: relative; overflow: hidden; height: 1096px;">
                        <article class="col-md-4 col-sm-6 col-xs-12 post-box masonry-post-item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                            <div class="post-inner">
                                <div class="entry-media">
                                    <div class="post-cat">
                                        <span class="posted-in">
                                            <a href="#" rel="category tag">Marketing</a>
                                            <a href="#" rel="category tag">SEO</a>
                                        </span>
                                    </div>
                                    <a href="blog-single.html">
                                        <img src="/Content/images/blog/blog-grid-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="inner-post">
                                    <div class="entry-header">

                                        <div class="entry-meta">
                                            <span class="byline"><a class="url fn n" href="#"><i class="flaticon-user"></i> Tom Black</a></span>
                                            <span class="posted-on">
                                                <a href="#"><i class="flaticon-clock"></i> <time class="entry-date published">November 21, 2019</time></a>
                                            </span>
                                        </div><!-- .entry-meta -->

                                        <h3 class="entry-title"><a href="blog-single.html">15 SEO Best Practices:  Website Architecture</a></h3>
                                    </div><!-- .entry-header -->

                                    <div class="entry-summary the-excerpt">
                                        <p>The basic premise of search engine reputation management is to use the...</p>
                                    </div><!-- .entry-content -->
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4 col-sm-6 col-xs-12 post-box masonry-post-item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(394px, 0px, 0px);">
                            <div class="post-inner">
                                <div class="entry-media">
                                    <div class="post-cat">
                                        <span class="posted-in">
                                            <a href="#" rel="category tag">Marketing</a>
                                            <a href="#" rel="category tag">SEO</a>
                                        </span>
                                    </div>
                                    <a href="blog-single.html">
                                        <img src="/Content/images/blog/blog-grid-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="inner-post">
                                    <div class="entry-header">

                                        <div class="entry-meta">
                                            <span class="byline"><a class="url fn n" href="#"><i class="flaticon-user"></i> Tom Black</a></span>
                                            <span class="posted-on">
                                                <a href="#"><i class="flaticon-clock"></i> <time class="entry-date published">November 21, 2019</time></a>
                                            </span>
                                        </div><!-- .entry-meta -->

                                        <h3 class="entry-title"><a href="blog-single.html">SEO Best Practices: Mobile Friendliness</a></h3>
                                    </div><!-- .entry-header -->

                                    <div class="entry-summary the-excerpt">
                                        <p>The basic premise of search engine reputation management is to use the...</p>
                                    </div><!-- .entry-content -->
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4 col-sm-6 col-xs-12 post-box masonry-post-item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(788px, 0px, 0px);">
                            <div class="post-inner">
                                <div class="entry-media">
                                    <div class="post-cat">
                                        <span class="posted-in">
                                            <a href="#" rel="category tag">Marketing</a>
                                        </span>
                                    </div>
                                    <a href="blog-single.html">
                                        <img src="/Content/images/blog/blog-grid-3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="inner-post">
                                    <div class="entry-header">

                                        <div class="entry-meta">
                                            <span class="byline"><a class="url fn n" href="#"><i class="flaticon-user"></i> Tom Black</a></span>
                                            <span class="posted-on">
                                                <a href="#"><i class="flaticon-clock"></i> <time class="entry-date published">September 24, 2019</time></a>
                                            </span>
                                        </div><!-- .entry-meta -->

                                        <h3 class="entry-title"><a href="blog-single.html">A Guide to Google SEO Algorithm Updates</a></h3>
                                    </div><!-- .entry-header -->

                                    <div class="entry-summary the-excerpt">
                                        <p>The basic premise of search engine reputation management is to use the...</p>
                                    </div><!-- .entry-content -->
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4 col-sm-6 col-xs-12 post-box masonry-post-item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 546px, 0px);">
                            <div class="post-inner">
                                <div class="entry-media">
                                    <div class="post-cat">
                                        <span class="posted-in">
                                            <a href="#" rel="category tag">Marketing</a>
                                        </span>
                                    </div>
                                    <a class="btn-play" href="https://vimeo.com/87959439">
                                        <i class="fas fa-play"></i>
                                    </a>
                                    <img src="/Content/images/blog/blog-grid-video.jpg" alt="">
                                </div>
                                <div class="inner-post">
                                    <div class="entry-header">

                                        <div class="entry-meta">
                                            <span class="byline"><a class="url fn n" href="#"><i class="flaticon-user"></i> Tom Black</a></span>
                                            <span class="posted-on">
                                                <a href="#"><i class="flaticon-clock"></i> <time class="entry-date published">September 24, 2019</time></a>
                                            </span>
                                        </div><!-- .entry-meta -->

                                        <h3 class="entry-title"><a href="blog-single.html">Best Practices: SEO Syndicated Content</a></h3>
                                    </div><!-- .entry-header -->

                                    <div class="entry-summary the-excerpt">
                                        <p>The basic premise of search engine reputation management is to use the...</p>
                                    </div><!-- .entry-content -->
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4 col-sm-6 col-xs-12 post-box masonry-post-item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(394px, 546px, 0px);">
                            <div class="post-inner">
                                <div class="entry-media">
                                    <div class="post-cat">
                                        <span class="posted-in">
                                            <a href="#" rel="category tag">Marketing</a>
                                        </span>
                                    </div>
                                    <div class="gallery-post slick-initialized slick-slider">
                                        <button type="button" class="prev-nav slick-arrow" style="display: block;"><i class="flaticon-arrow-pointing-to-left"></i></button>
                                        <div class="slick-list draggable">
                                            <div class="slick-track" style="opacity: 1; width: 2590px; transform: translate3d(-1110px, 0px, 0px);">
                                                <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 370px;">
                                                    <div class="item-image">
                                                        <img src="images/blog-grid-slide-3.jpg" alt="">
                                                    </div>
                                                </div><div class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" style="width: 370px;">
                                                    <div class="item-image">
                                                        <img src="/Content/images/blog/blog-grid-slide-1.jpg" alt="">
                                                    </div>
                                                </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 370px;">
                                                          <div class="item-image">
                                                              <img src="/Content/images/blog/blog-grid-slide-2.jpg" alt="">
                                                          </div>
                                                </div><div class="slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 370px;">
                                                          <div class="item-image">
                                                              <img src="/Content/images/blog/blog-grid-slide-3.jpg" alt="">
                                                          </div>
                                                </div><div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 370px;">
                                                          <div class="item-image">
                                                              <img src="/Content/images/blog/blog-grid-slide-1.jpg" alt="">
                                                          </div>
                                                </div><div class="slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 370px;">
                                                          <div class="item-image">
                                                              <img src="/Content/images/blog/blog-grid-slide-2.jpg" alt="">
                                                          </div>
                                                </div><div class="slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 370px;">
                                                          <div class="item-image">
                                                              <img src="/Content/images/blog/blog-grid-slide-3.jpg" alt="">
                                                          </div>
                                                </div>
                                            </div>
                                        </div>


                                        <button type="button" class="next-nav slick-arrow" style="display: block;"><i class="flaticon-arrow-pointing-to-right"></i></button>
                                    </div>
                                </div>
                                <div class="inner-post">
                                    <div class="entry-header">

                                        <div class="entry-meta">
                                            <span class="byline"><a class="url fn n" href="#"><i class="flaticon-user"></i> Tom Black</a></span>
                                            <span class="posted-on">
                                                <a href="#"><i class="flaticon-clock"></i> <time class="entry-date published">September 24, 2019</time></a>
                                            </span>
                                        </div><!-- .entry-meta -->

                                        <h3 class="entry-title"><a href="blog-single.html">What To Look For In An SEO Consultant</a></h3>
                                    </div><!-- .entry-header -->

                                    <div class="entry-summary the-excerpt">
                                        <p>The basic premise of search engine reputation management is to use the...</p>
                                    </div><!-- .entry-content -->
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4 col-sm-6 col-xs-12 post-box masonry-post-item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(788px, 546px, 0px);">
                            <div class="post-inner">
                                <div class="entry-media">
                                    <div class="link-box padding-box">
                                        <i class="flaticon-link"></i>
                                        <a href="#">SEO Audit: The First Step Towards #1 Rankings</a>
                                    </div>
                                </div>
                                <div class="inner-post">
                                    <div class="post-cat">
                                        <span class="posted-in">
                                            <a href="#" rel="category tag">Marketing</a>
                                        </span>
                                    </div>
                                    <div class="entry-header">

                                        <div class="entry-meta">
                                            <span class="byline"><a class="url fn n" href="#"><i class="flaticon-user"></i> Tom Black</a></span>
                                            <span class="posted-on">
                                                <a href="#"><i class="flaticon-clock"></i> <time class="entry-date published">September 24, 2019</time></a>
                                            </span>
                                        </div><!-- .entry-meta -->

                                        <h3 class="entry-title"><a href="blog-single.html">What To Look For In An SEO Consultant</a></h3>
                                    </div><!-- .entry-header -->

                                    <div class="entry-summary the-excerpt">
                                        <p>The basic premise of search engine reputation management is to use the...</p>
                                    </div><!-- .entry-content -->
                                </div>
                            </div>
                        </article>
                    </div>

                    <ul class="page-pagination text-center">
                        <li><span aria-current="page" class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="#">2</a></li>
                        <li><a class="next page-numbers" href="#"><i class="flaticon-arrow-pointing-to-right"></i></a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>
